.siglog{

    text-align: end;
    
  margin: 10px 20px;
   
}

.siglog  a{
    
text-decoration: none;
color: rgb(242, 109, 0);
font-weight: 700;
margin-left: 10px;
}
.siglog  a:hover{
    color: red;
}